#search-img{
  width: 250px;
  height: 300px;
}

.tutor {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tutor-list {
  margin: 2em 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 48px;
}

.wrapper {
  width: 96%;
  max-width: 1140px;
  margin: 0 auto;
}
