.App{
  min-height: 100vh;
}

.tutor{
  height: 300px;
  width: 300px;
  border-radius: 30px;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.tutor-list{
  display: flex;
  justify-content: space-around;
  align-items: center;
}